<a href="https://colab.research.google.com/github/marcos345/Hello-Word/blob/master/Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#__Funciones__ 
##Una función es una porción o bloque de código reutilizable que se encarga de realizar una determinada tarea.
##La sintaxis en python es:
```python
# Creacion de función
def My_fun():
    #instrucciones
    #instrucciones
```
```python
# Invocación de función
My_fun()

```

In [ ]:
def fun6():
    print("esto es mi primera funcion de Arnold Cruz")

# FUNCIONES CON PARAMETROS

#Ejemplo 1

#Escribir una funcion que reciba un año y devuelva True si el año es bisiesto, y que devuelva False si el año no es bisiesto.
#*Nota*: Un año es bisiesto si es divisible entre 4 y (no es divisible entre 100 o es divisible entre 400)

PRIMERA OPCION

In [ ]:
def isYearLeap(Year):
  p=False
  if Year % 4 == 0:
    if Year % 100 == 0:
      if Year % 400 == 0:
        p=True
      else:
        p=False
    else:
      p=True
  else:
    p=False
  return p

SEGUNDA OPCION

In [ ]:
def isLeap(year):
  if (year%4==0) and ((not year%100==0)or (year%400==0)) :
    return True
  else:
    return False

##utilizamos la funcion isYearLeap en el siguiente código:

In [ ]:
year=int(input("Ingrese un año : "))
if isLeap(year):
  print(" el año:",year,"es bisiesto")
else:
  print("el año:",year,"no es bisiesto")

Ingrese un año : 2020
 el año: 2020 es bisiesto

###Ejercicio 1.-
####Escribir una funcion que pida un número y retorne True si el número es par, False en caso contrario.

In [ ]:
def par(num):
    if num%2==0:
        return True
    else:
        return False
print(par(21))

False

# Ejemplo 2 (LAB 4.1.3.7)
#escribir un programa que pida un año y un mes e imprima el número de días de ese mes corresponirnte al año introducido.
vemos las siguiente tabla
..



![dias_año.jpg]()

In [ ]:
def daysInMonth(y,m):
    days=None
    if m==2:
        if isLeap(y):
            days=29
        else:
            days=28
    else:
        if (m==1)or (m==3)or (m==5)or (m==7)or (m==8)or (m==10)or (m==12):
            days=31
        elif (m==4)or (m==6)or (m==9)or (m==11):
            days=30

    return days

In [ ]:
y=int(input("ingrese el años: "))
m=int(input("ingrese el mes: "))
days=daysInMonth(y,m)
print(days)

ingrese el años: 2020
ingrese el mes: 2
29

# Ejemplo 3 (LAB 4.1.3.8)
## Escribir una función que tome tres argumentos, año, mes y día. Y devuelva el numero de día del año(de 1 a 366)

In [ ]:
def DayOfYear(year,month,day):
    day_Year=0
    
    for i in range(1,month):
        day_Year+=daysInMonth(year,i)

    day_Year+=day
    return day_Year

In [ ]:
y=int(input("ingrese año\n"))
m=int(input("ingrese mes\n"))
d=int(input("ingrese dia"))
print(DayOfYear(y,m,d))

ingrese año
678
ingrese mes
4
ingrese dia3
93

###Ejercicio 2
####Escriba una funcion que reciba un número, y devuelva True si el número es primo, False en caso contrario

In [ ]:
def primo(num):
    pass
print(primo(23))

###Ejercicio 3
####Escriba un funcion que reciba un número n, y devuelva la suma desde 1 hasta n

In [ ]:
def sum(num):
    s=0
    for i in range(1,num+1):
        s+=i
    return s
print(sum(5))

15

###Ejercicio 4 
####Escriba una función que reciba los catetos de un triangulo rectangulo, y devuelva la hipotenusa del triangulo.
$c^2=a^2+b^2$
$\implies$ $c=(a^2+b^2)^{0.5}$

In [ ]:
def pitagoras(a,b):
    return (a**2+b**2)**0.5
print(pitagoras(3,4))

5.0

# VARIABLE GLOBALES Y VARIABLES LOCALES

In [ ]:
a=10
def fun3():
    
    a=20
fun3()
print(a)

10

In [ ]:
b=20
def fun4():
    global b
    b=200
fun4()
print(b)

200

In [ ]:
b=20
def fun5():
    global b
    b=200
fun5()
print(b)

200

In [ ]:
def fun6():
    global b
    b=400
fun6()
print(b)

400

# INICIALIZANDO PARAMETROS

In [ ]:
def fun7(p1,p2,p3="c"):
    print(p1,p2,p3)
fun7("x","y")

x y c

# LLAMANDO A FUNCION CON CLAVE DE ARGUMENTO

In [ ]:
def fun8(p1,p2,p3):
    print(p1,p2,p3)

fun8(p3="c",p1="a",p2="b")

a b c

In [ ]:
def fun9(p1,p2,p3="c"):
    print(p1,p2,p3)
fun9(p2="b",p1="a")

a b c

# RECURSIVIDAD DE FUNCIONES
## Recursividad se refiere al hecho de que una función se llame a si misma

FUNCIÓN QUE DEVUELVE LA SUMA DE LOS N PRIMEROS NÚMEROS
.
CON RECURSIVIDAD

In [ ]:
def sumR(n):
    if n == 1:
        return n
    else:
        return sumR(n-1)+n

FUNCIÓN QUE DEVUELVE LA SUMA DE LOS N PRIMEROS NÚMEROS. SIN RECURSIVIDAD

In [ ]:
def sum(n):
    s=0
    for i in range(1,n+1):
        s=s+i
    return s

In [ ]:
print(sumR(10))

55

# TUPLAS Y DICCIONARIOS

## TUPLAS

In [ ]:
tup1=("a","b","c")
tup2="a","b","c"
print(tup1,tup2)

('a', 'b', 'c') ('a', 'b', 'c')

tupla con un solo elemento

In [ ]:
tup3=("u",)
print(tup3)

('u',)

### Accediendoa los elementos de una tupla:

In [ ]:
print(tup1[1])

b

In [ ]:
print(tup1[1:])

('b', 'c')

### .

### Las tuplas son inmutables

In [ ]:
tup1[1]="y"

In [ ]:
del tup1[1]

In [ ]:
t=(i for i in range(5))

.

### Manejando tuplas

In [ ]:
var="x"
t1=("a",)
t2=("b",)
t3=("c",var)
t1,t2,t3=t2,t3,t1 
print(t1,t2,t3)

In [ ]:
t1=("x","y","z")
print("y" in t1 )
print("u" not in t1)

In [ ]:
t1=[1,2,3]
print(t1)

## DICCIONARIOS

### Definiendo un diccionario

In [ ]:
dic1={"nombre":"Cralos","edad":32,"peso":60,"soltero":True}
print(dic1)

In [ ]:
dic2={}
print(dic2)

.

### Accediando a los valores de un diccionario

In [ ]:
print(dic1["edad"])

In [ ]:
print("nombre"in dic1)
print("apelldo" in dic1)

In [ ]:
keys=["nombre","apellido","edad","peso","soltero"]
for k in keys:
    if k in dic1:
        print(k,"->",dic1[k])
    else:
        print(k,"no está en el diccionario")

.

### Método keys()

In [ ]:
print(dic1.keys())

In [ ]:
for key in dic1.keys():
    print(key,"->",dic1[key])

.

### Función sorted()

In [ ]:
for key in sorted(dic1):
    print("key","->",dic1[key])

.

### Métodos items() y values()

In [ ]:
print(dic1.items())

In [ ]:
for x,y in dic1.items():
    print(x,"->",y)

In [ ]:
for n in dic1.values():
    print(n)

.

### Modificar, agregar y eliminar valores de un diccionario

In [ ]:
dic1["edad"]=33
print(dic1)

In [ ]:
dic1["oficio"]="informatico"
print(dic1)

In [ ]:
del dic1["soltero"]
print(dic1)
print(" fin de clase")